<header class="pt-5 px-5">
    <h1 class="text-2xl">Contatos de {{ person.name }}</h1>
</header>

<section class="pt-5 px-5">
    <a [routerLink]="'/pessoas/'+person.id+'/novo-contato'" class="bg-orange-400 px-2 py-1 rounded-lg">Novo Contato</a>

    <table *ngIf="contacts.length" class="tabe-auto border-collapse border border-slate-500 mt-4 w-full">
        <thead>
            <tr>
                <th class="p-2 border border-slate-600">#</th>
                <th class="p-2 border border-slate-600">Nome</th>
                <th class="p-2 border border-slate-600">Email</th>
                <th class="p-2 border border-slate-600">Telefoene</th>
                <th class="p-2 border border-slate-600">WhatsApp</th>
                <th class="p-2 border border-slate-600">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td class="p-2 border border-slate-700">{{ contact.id }}</td>
                <td class="p-2 border border-slate-700">{{ contact.name }}</td>
                <td class="p-2 border border-slate-700">{{ contact.email }}</td>
                <td class="p-2 border border-slate-700">{{ contact.phone }}</td>
                <td class="p-2 border border-slate-700">{{ contact.whatsapp }}</td>
                <td class="p-2 border border-slate-700">
                    <a [routerLink]="'/contatos/'+contact.id+'/editar'" class="bg-blue-600 px-2 py-1 rounded-lg">Editar</a>
                    <a (click)="deleteContact(contact.id)" type="button" class="bg-red-400 px-2 py-1 ml-3 rounded-lg cursor-pointer">Excluir</a> 
                </td>
            </tr>
        </tbody>
    </table>
    <h4 *ngIf="!contacts.length">Não possui contato cadastrado</h4>
</section>