<header>
    <h1>Contatos de {{ person.name }}</h1>
</header>

<section>
    <table *ngIf="contacts.length">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefoene</th>
                <th>WhatsApp</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.whatsapp }}</td>
                <td>--</td>
            </tr>
        </tbody>
    </table>
    <h4 *ngIf="!contacts.length">Não possui contato cadastrado</h4>
</section>