<section class="pt-5 px-5">
    <h1>Lista Pessoas</h1>
    <table class="tabe-auto border-collapse border border-slate-500 w-full">
        <thead>
            <tr>
                <th class="p-2 border border-slate-600">#</th>
                <th class="p-2 border border-slate-600">Nome</th>
                <th class="p-2 border border-slate-600">CPF</th>
                <th class="p-2 border border-slate-600">Telefone</th>
                <th class="p-2 border border-slate-600">Email</th>
                <th class="p-2 border border-slate-600">Data de nascimento</th>
                <th class="p-2 border border-slate-600">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of people">
                <td class="p-2 border border-slate-700">{{ person.id }}</td>
                <td class="p-2 border border-slate-700">{{ person.name }}</td>
                <td class="p-2 border border-slate-700">{{ person.cpf }}</td>
                <td class="p-2 border border-slate-700">{{ person.phone }}</td>
                <td class="p-2 border border-slate-700">{{ person.email }}</td>
                <td class="p-2 border border-slate-700">{{ person.birth_date }}</td>
                <td class="p-2 border border-slate-700"> 
                    <a [routerLink]="'/pessoas/'+person.id+'/contatos'" class="bg-purple-400 px-2 py-1 rounded-lg">Contatos</a> 
                </td>
            </tr>
        </tbody>
    </table>
</section>