@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { height: 100%; background-color: #0f172a; color: #fff; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
