<form (submit)="sendForm()">
    <div class="mb-3">
        <label class="block" for="name">Nome <span class="text-red-600">*</span></label>
        <input class="w-full rounded-lg border border-slate-500 bg-slate-700 py-1 px-2" type="text" id="name" name="name" [(ngModel)]="contact.name">
    </div>
    <div class="mb-3">
        <label class="block" for="email">E-mail <span class="text-red-600">*</span></label>
        <input class="w-full rounded-lg border border-slate-500 bg-slate-700 py-1 px-2" type="email" id="email" name="email" [(ngModel)]="contact.email">
    </div>
    <div class="mb-3">
        <label class="block" for="phone">Telefone</label>
        <input mask="(00) 00000-0000" [dropSpecialCharacters]="false" class="w-full rounded-lg border border-slate-500 bg-slate-700 py-1 px-2" type="text" id="phone" name="phone" [(ngModel)]="contact.phone">
    </div>
    <div class="mb-3">
        <label class="block" for="cpf">Whatsapp <span class="text-red-600">*</span></label>
        <input mask="000.000.000-00" [dropSpecialCharacters]="false" class="w-full rounded-lg border border-slate-500 bg-slate-700 py-1 px-2" type="text" id="cpf" name="cpf" [(ngModel)]="contact.whatsapp">
    </div>
    
    <button type="submit" class="bg-green-600 text-slate-300 rounded-lg py-1 px-3 text-lg">Enviar</button>
</form>